{
  http_port 80
  https_port 443
}

:80 {
  encode zstd gzip
  log {
    output file /data/access.log {
      roll_size 1gb
      roll_keep_for 72h
    }
    format json
  }
  handle {
    root * /app/dist-pro
  }
  redir http://{host}{uri}
}

:443 {
  encode zstd gzip
  log {
    output file /data/access.log {
      roll_size 1gb
      roll_keep_for 72h
    }
    format json
  }
  handle /api/* {
    reverse_proxy http://localhost:3006
  }
  handle {
    root * /app/dist-pro
    file_server
  }
  tls /etc/caddy/ssl/domain-chain.pem /etc/caddy/ssl/private.key
}
